header {
    position: running(header);
    width: 100%;
    height: 4cm;
    margin-top: 1cm;
}

footer {
    position: running(footer);
    width: 100%;
    margin-bottom: 0cm;
}

@page {
    font-size: 10pt;
    size: landscape A4;
    margin: 4cm 1cm 4cm 1cm;

    @top-center {
        content: element(header);
        width: 100%;
    }

    @bottom-center {
        content: element(footer);
        width: 100%;
    }

    @bottom-right {
        content: "Page " counter(page) " of " counter(pages);
        font-size: 8pt;
        width: 100px;
        margin-bottom: -2cm;
    }
}

body {
    font-family: Arial;
    font-size: 8pt;
}

#top_header td {
    width: 100%;
    vertical-align: top;
}

    #top_header td:first-child {
        width:70%;
    }

#left_header {
    width: 800px;
}

    #left_header td:first-child {
        width: 2cm;
    }

.center_header {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #D1D4D3;
}

    #center_header td {
        padding: 4px;
    }

#right_header {
    border-collapse: collapse;
    width: 250px;
    font-size: 7pt;
}

    #right_header td {
        vertical-align: top;
    }

        #right_header td:first-child {
            width: 1.5cm;
        }

#title {
    font-size: 12pt;
    font-weight: bold;
}

#logo {
    width: 50px;
}


.cubetable {
    /*border: 1px solid;*/
    width: 100%;
    border-collapse: collapse;
}

    .cubetable th {
        border: 1px solid black;
        background-color: #0046AD;
        color: white;
        padding: 5px;
        text-align: center;
    }

    .cubetable tr {
        page-break-inside: avoid;
    }

    .cubetable td {
        border: 1px solid;
        text-align: center;
        vertical-align: top;
        padding: 5px;
        white-space: nowrap;
    }

    .cubetable thead {
        display: table-header-group;
    }

    .cubetable tfoot {
        display: table-footer-group;
    }

.align_left {
    text-align: left;
}

#accreditation {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#accred_img {
    width: 450px;
}

